/* *********************** */
/* RESETS */
/* *********************** */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;

  transition: 0.8s all;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

a,
button {
  cursor: pointer;
}

.visually-hidden {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* *********************** */
/* VARIABLES */
/* *********************** */

:root {
  --Font-Family-One: "Big Shoulders Display", cursive;
  --Font-Family-Two: "Outfit", sans-serif;

  --Primary-Color: hsl(24, 56%, 63%);
  --Secondary-Color: hsl(0, 0%, 8%);
  --Tertiary-Color: hsl(0, 0%, 27%);
  --Quaternary-Color: hsl(0, 0%, 100%);
}

/* *********************** */
/* BODY */
/* *********************** */

body {
  background: var(--Quaternary-Color);
}

/* *********************** */
/* BUTTONS */
/* *********************** */

.button {
  display: flex;
  align-items: center;
}

.button__text {
  font-family: var(--Font-Family-One);
  font-weight: 800;
  font-size: 1.25rem;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 0.23rem;
  color: var(--Quaternary-Color);

  padding: 1.5rem 1.25rem 1.5rem 2rem;

  background: var(--Secondary-Color);
}

.button__icon {
  padding: 1.5rem;

  background: var(--Primary-Color);
}
