/* *********************** */
/* RESETS */
/* *********************** */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;

  transition: 0.8s all;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

a,
button {
  cursor: pointer;
}

.visually-hidden {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* *********************** */
/* VARIABLES */
/* *********************** */

:root {
  --Font-Family-One: "Big Shoulders Display", cursive;
  --Font-Family-Two: "Outfit", sans-serif;

  --Primary-Color: hsl(24, 56%, 63%);
  --Secondary-Color: hsl(0, 0%, 8%);
  --Tertiary-Color: hsl(0, 0%, 27%);
  --Quaternary-Color: hsl(0, 0%, 100%);
}

/* *********************** */
/* BODY */
/* *********************** */

body {
  background: var(--Quaternary-Color);
}

/* *********************** */
/* BUTTONS */
/* *********************** */

.button {
  display: flex;
  align-items: center;
}

.button__text {
  font-family: var(--Font-Family-One);
  font-weight: 800;
  font-size: 1.25rem;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 0.23rem;
  color: var(--Quaternary-Color);

  padding: 1.5rem 1.25rem 1.5rem 2rem;

  background: var(--Secondary-Color);
}

.button__icon {
  padding: 1.5rem;

  background: var(--Primary-Color);
}

/* *********************** */
/* HEADING + TEXT */
/* *********************** */

.intro-section__heading {
  font-family: var(--Font-Family-One);
  font-weight: 900;
  text-transform: uppercase;
}

.intro-section__text,
.footer__text {
  font-family: var(--Font-Family-Two);
  font-weight: 300;
  color: var(--Tertiary-Color);
}

/* *********************** */
/* INTRO - SECTION */
/* *********************** */

.intro-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 auto 7.5rem auto;
}

.intro-section__picture {
  margin-bottom: 2rem;
}

.intro-section__picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro-section__content,
.intro-section__content-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  padding: 0 1rem;
}

.intro-section__content-container {
  padding: 0;
}

.intro-section__heading {
  max-width: 28.5rem;

  font-size: 3.75rem;
  line-height: 0.92;
  color: var(--Secondary-Color);
}

.intro-section__text {
  font-size: 1.13rem;
  line-height: 1.56;
}

/* *********************** */
/* FOOTER */
/* *********************** */

.footer {
  font-family: var(--Font-Family-Two);
  background: var(--Secondary-Color);
  padding: 3rem 2rem;
}

.footer--orange {
  background: var(--Primary-Color);
}

.footer__content {
  max-width: 69.38rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.38rem;

  margin: 0 auto;
}

.footer__text {
  font-size: 1rem;
  line-height: 1.63;

  color: var(--Quaternary-Color);
}

.footer__text--black {
  color: var(--Secondary-Color);
}

.footer__social-list {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.footer__social-icon {
  fill: var(--Quaternary-Color);
}

.footer__social-icon--black {
  fill: var(--Secondary-Color);
}

@media (min-width: 43.75em) {
  .footer {
    padding: 3.5rem 2.5rem;
  }

  .footer__content {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__text {
    max-width: 27ch;
    margin-right: 4.19rem;
  }
}

@media (min-width: 68.75em) {
  .footer {
    padding: 5rem 10.31rem;
  }

  .footer__logo {
    width: 9.94rem;
  }

  .footer__text {
    max-width: 37ch;

    font-size: 1.13rem;
    line-height: 1.56;
    margin-right: 8.13rem;
  }
}
